body {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
	background-size: 700px;
	background-image: url("../images/clock.webp");
	background-repeat: no-repeat;
	background-position: center;
}
.jumbotron {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-size: 20px;
	
}
table {
	border: 2px solid red;
	width:50%;
    table-layout:fixed; 
}
td,th
  {
    padding: 2px 5px;
  }

input[type="number"] {
	font-size: 20px;
}

input[type="date"] {
	font-size: 20px;
}

.Mark {
	font-size: 20px;
	color: blue;
}
p {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
}